<div class="col-md-6">
    <img class=" img-thumbnail " class="img" [src]="url" [alt]="description">
</div>
<div class="container">
    <form action="">
        
        <div class="row">
            <label class="titulo" for="logar">Login</label>
            <div class="espaco col-md-10">
                <label for="email" class="visually-hidden">Email</label>
                <input type="text" readonly class="form-control" id="email" value="email@example.com">
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="espaco col-m">
                <button class="btn-v  " mat-button color="warn" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>