<div class="col-md-6">
    <img class=" img-thumbnail " class="img" [src]="url" [alt]="description">
</div>
<div class="container">
    <form action="">
        
        <div class="row">
            <label class="titulo" for="logar">Register</label>
            <div class="espaco col-md-10">
                <label for="nome" class="visually-hidden">Nome Completo</label>
                <input type="text" class="form-control" id="nome" >
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">Data de Nascimento</label>
                <input type="date" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">CPF</label>
                <input type="text" class="form-control" id="password" placeholder="XXX.XXX.XXX-XX">
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">RG</label>
                <input type="text" class="form-control" id="password" placeholder="">
            </div>
            <div class="espaco col-md-10">
                <label for="password" class="visually-hidden">RG</label>
                <input type="text" class="form-control" id="password" placeholder="">
            </div>
            <div class="espaco col-m">
                <button class="btn-v  " mat-button color="warn" type="submit">Submit</button>
            </div>